@import "/src/styles/utils/variables.module";

.edit-wrapper {
  height: 100%;

  & .edit-title {
    margin-bottom: 40px;
  }

  & .edit-form {
    max-width: 500px;
    width: 100%;
  }

  & .edit-form-field,
  & .edit-form-select .ant-select-selector {
    background-color: $light-dark-color;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid $dark-color;
    padding: 20px 0 20px 16px;
    font-size: 16px;
    width: 100%;
  }

  & .edit-form-field.ant-picker-range .ant-picker-suffix,
  & .edit-form-field .ant-picker-input .ant-picker-suffix {
    margin-inline-start: 0;
    margin-inline-end: 10px;
  }

  & .edit-form-select,
  & .edit-form-select .ant-select-selector,
  & .edit-form-select .ant-select-selector .ant-select-selection-search-input {
    height: 60px;
  }

  & .edit-form-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  & .edit-form-textarea {
    resize: none;
  }

  & .edit-form-button {
    padding: 18px 10px;
    border-radius: 3px;
    font-size: 16px;
    border-width: 2px;
    font-weight: 700;
    height: auto;
    box-shadow: none;
  }

  .edit-form-item-group {
    & .ant-form-item-control-input-content {
      margin-bottom: 0;
      justify-content: space-between;
      display: flex;
      gap: 10px;
    }
  }
}
