$primary-color: #1c4792;
$accent-color: #39b54a;
$white-color: #ffffff;
$blue-dark-color: #0c2749;
$dartk-grey-color: #6e7074;
$red-color: #ff2020;
$red-white-color: #ff9898;

$primary-background-color: #f0f0f0;

$font-family: "Rubik", sans-serif;
$secondary-font-family: "Montserrat", sans-serif;

:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  whiteColor: $white-color;
  blueDarkColor: $blue-dark-color;
  dartkGreyColor: $dartk-grey-color;
  redColor: $red-color;
  primaryBackgroundColor: $primary-background-color;
  fontFamily: $font-family;
  secondaryFontFamily: $secondary-font-family;
}
