$primary-color: #1c4792;
$accent-color: #39b54a;
$accent-white-color: #39b54a6b;
$white-color: #ffffff;
$blue-dark-color: #0c2749;
$grey-dark-color: #6e7074;
$red-color: #ff2020;
$red-white-color: #ff9898;
$dark-color: #263238;
$light-dark-color: #2632380f;

$primary-background-color: #f0f0f0;

$font-family: "Rubik", sans-serif;
$secondary-font-family: "Montserrat", sans-serif;

:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  accentWhiteColor: $accent-white-color;
  whiteColor: $white-color;
  blueDarkColor: $blue-dark-color;
  greyDarkColor: $grey-dark-color;
  redColor: $red-color;
  redWhiteColor: $red-white-color;
  darkColor: $light-dark-color;
  lightDarkColor: $light-dark-color;
  primaryBackgroundColor: $primary-background-color;
  fontFamily: $font-family;
  secondaryFontFamily: $secondary-font-family;
}
